/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-prev-next {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	> * {
		flex-basis: 50%;
	}
	a {
		display: flex;
		flex-wrap: wrap;
		text-decoration: none;
		gap: 1rem;
		position: relative;
		margin-bottom: 2rem;
		width: fit-content;
		&::before,
		&::after {
			content: "";
			width: 100%;
			height: 2rem;
			position: absolute;
		}
		&::before {
			bottom: 0;
			background-color: var(--wp--preset--color--secondary);
			z-index: -1;
			transform: translateY(100%);
			transition: 0.8s cubic-bezier(.29, 1.01, 1, -0.68);
		}
		&::after {
			top: 100%;
			background-color: white;
		}
		&:hover::before, &:focus::before {
			transform: translateY(0);
		}
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.prev-next-thumbnail {
	width: 3.75rem;
	height: 3.75rem;
}

.next-post .prev-next-thumbnail {
	order: 1;
}

.next-post .prev-next-content {
	text-align: right;
}

.prev-next-content > p {
	margin: 0;
}

.prev-next-content {
	align-self: flex-end;
	@media (min-width: 600px) {
		align-self: center;
	}
}

.prev-next-text {
	font-size: 0.875rem;
}

.prev-next-title {
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1.1;
	color: var(--wp--preset--color--black);
}
